<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deliveryModalTitle">Filter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="status"><b>Status</b></label><br>
        <div class="pretty p-default p-curve">
            <%= radio_button_tag :status, "0", !!(!params.has_key?(:status)) %>
            <div class="state p-primary-o">
                <label>All</label>
            </div>
        </div>

        <div class="pretty p-default p-curve">
            <%= radio_button_tag :status, "1", !!(params[:status] == "1") %>
            <div class="state p-primary-o">
                <label>Available</label>
            </div>
        </div>

        <div class="pretty p-default p-curve">
            <%= radio_button_tag :status, "2", !!(params[:status] == "2") %>
            <div class="state p-success-o">
                <label>Sold</label>
            </div>
        </div>

        <br><br>
        <label for="category2"><b>Category</b></label><br>
        <div class="d-lg-none">
          <%= select_tag :category2, options_from_collection_for_select(Category.all, "name", "name", {:selected => @currcategory2name}), { multiple: true, id: "select2", class: "form-control", style: "width: 100%;" } %>
        </div>

        <br>
        <label for="sortby"><b>Sort By</b></label><br>
        <%= select_tag :sortby, options_for_select([["None", 0], ["Price: High to Low", 1], ["Price: Low to High", 2], ["Newest to Oldest", 3], ["Oldest to Newest", 4]], params[:sortby]), { class: "singleselect2", style: "width: 100%;" } %>
      </div>
      <div class="modal-footer">
        <%= button_tag "Filter Search", type: :submit, class: "btn btn-primary", onclick: "document.getElementById('advanced-search-form').submit()" %>
      </div>
    </div>
  </div>
</div>
