<% @products.each do |product| %>
    <div class="sm-search-card col-lg-2 col-md-4 col-sm-4 mx-auto" onclick="location.href='<%= product_path(product) %>'" style="width: 150px; height:100%; padding-right: 2px; padding-left: 1px">
        <div class="card" style="flex: 0 0 auto; height:100%; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);">
            <% if product.status == :sold %>
                <div class="ribbon ribbon-top-left"><span>Sold Out</span></div>
            <% end %>
            <% if product.product_images.present? %>
                <% if product.product_images[0].image.present? %>
                    <%= image_tag product.product_images[0].image.url(:thumb), class: "card-img-top", alt: "image", style: "width: auto; height: 185px; object-fit: cover;" %>
                <% else %>
                    <%= image_tag "products/product-1-50.png", class: "card-img-top", alt: "image", style: "width: auto; height: 185px; object-fit: cover;" %>
                <% end %>
            <% else %>
                <%= image_tag "products/product-1-50.png", class: "card-img-top", alt: "image", style: "width: auto; height: 185px; object-fit: cover;" %>
            <% end %>
            
            <div class="card-body" style="width: 150px; height: 75px; padding: 2px 15px 0px 15px;">
                <span class="sm-card-text"><h6 class="card-title" style="margin-top:5px;"><%= product.name %></h6></span>
                <var class="price h6 text-warning" style="position: absolute; bottom: 1px; left: 15px;">
                    <% if product.price == 0 %>
                        <span class="currency">FREE</span>
                    <% else %> 
                        <span class="currency">&#165;</span><span class="num"><%= product.price %></span>
                    <% end %>
                </var>
            </div>
        </div>
    </div>
<% end %>