<div class="main-content" style="width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <center><h3>Advanced Search</h3></center>
                    </div>
                    <div class="card-body">
                    	<%= form_tag search_page_path, method: :get do %>
                            <%= hidden_field_tag :q, params[:q] %>
                            <!--<div class="form-group">
                                        <div class=" form-inline">
                                            <input type="checkbox" class="custom-checkbox" name="enable-price" />
                                            <label>Minimum Price</label>
                                            <input type="text" class="form-control" placeholder="Rp. 0" name="">
                                        </div>
                                        <input type="range" class="custom-range" min="0" max="10" step="0.5" name="price" />
                                    </div> -->

                            <div class="form-group">
                                <label>Price</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            ¥
                                        </div>
                                    </div>
                                    <%= number_field_tag :minprice, params[:minprice], placeholder: "Minimum", class: "form-control currency" %>
                                </div>
                                <br/>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            ¥
                                        </div>
                                    </div>
                                    <%= number_field_tag :maxprice, params[:maxprice], placeholder: "Maximum", class: "form-control currency" %>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label>Categories</label>
                                <select class="form-control" id="select2" multiple="">
                                    <option>Food</option>
                                    <option>Kitchen</option>
                                    <option>Games</option>
                                    <option>Books</option>
                                    <option>Home</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Condition</label>
                                <select class="form-control" id="condition" multiple="">
                                    <option>New</option>
                                    <option>Second</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Location</label>
                                <select class="form-control" id="city">
                                    <option>Tokyo</option>
                                    <option>Hokkaido</option>
                                    <option>Nagawa</option>
                                    <option>Okinawa</option>
                                </select>
                            </div> -->
                            <%= button_tag type: "submit", class: "btn btn-primary btn-icon icon-left float-right", :name => nil do %>
                            	<i class="fa fa-search"></i> Find Something
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <center><h3>Map View</h3></center>
                    </div>
                    <div class="card-body">
                        <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}
                        </style>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Results <% if params.has_key?(:category) %>of <%= params[:category] %> <% end %></h2>
                    </div>
                    <div class="card-body">
                            <div class="row">
                            	<% if @products.count > 0 %>
			                        <% @products.each do |product| %>
                                        <%= render 'common/product_card', product: product %>
			                        <% end %>
			                        <%= paginate @products %>
                                <% else %>
                                    <h5>No Products Found. Please Refine Your Search Again</h5>
			                    <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
