<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="login-brand">
          <%= image_tag "2gaijinheader-1.png", width: "200", alt: "logo" %>
        </div>

        <div class="card card-primary">
          <div class="card-header"><h4>Login</h4></div>

          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "needs-validation") do |f| %>
              <% if flash[:alert] %>
                <div class="alert alert-danger">
                  <%= flash[:alert] %>
                </div>
              <% end %>
              <% if flash[:notice] %>
                <div class="alert alert-primary">
                  <%= flash[:notice] %>
                </div>
              <% end %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", tabindex: "1", required: true, type: "email" %>
                <div class="invalid-feedback">
                  Please fill in your email
                </div>
              </div>

              <div class="form-group">
                <div class="d-block">
                    <%= f.label :password %><br />
                  
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>  
                    <div class="float-right">
                      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                    </div>
                  <% end %>
                </div>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", tabindex: "2", required: true, type: "password" %>
                <div class="invalid-feedback">
                  please fill in your password
                </div>
              </div>
              
              <% if devise_mapping.rememberable? %>
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <%= f.check_box :remember_me, type: "checkbox", class: "custom-control-input", tabindex: "3" %>
                    <%= f.label :remember_me, class: "custom-control-label" %>
                  </div>
                </div>
              <% end %>

              <div class="form-group">
                <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block", tabindex: "4" %>
              </div>
            <% end %>
            <div class="text-center mt-4 mb-3">
              <div class="text-job text-muted">Login With Social</div>
            </div>
            <div class="row sm-gutters">
              <div class="col-6">
                <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" do %>
                  <span class="fab fa-facebook"></span> Facebook
                <% end %>
              </div>
              <div class="col-6">
                <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-social btn-google" do %>
                  <span class="fab fa-google"></span> Google
                <% end %>                              
              </div>
            </div>
            <div class="text-center mt-4 mb-3">
              <div class="text-job text-muted">Don't Have an Account?</div>
            </div>
            <div class="row sm-gutters">
              <div class="col-12 form-group">
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-primary btn-lg btn-block", tabindex: "4" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="simple-footer">
          Copyright &copy; 2gaijin 2019
        </div>
      </div>
    </div>
</div>