<div class="main-content" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Notifications</h4>
                        <!-- <div class="card-header-action">
                          <a href="#" class="btn btn-outline-primary" role="button"><i class="fa fa-check"></i> Mark all as read</a>
                        </div> -->
                    </div>
                    <div class="card-body">
                      <% @notifications.each do |notification| %>
                        <% if notification.type == :comment %>
                          <% if notification.product.present? %>
                            <%= link_to product_path(notification.product), style: "text-decoration: none" do %>
                              <div class="alert alert-primary">
                                <i class="fa fa-comment mr-1"></i>
                                <%= notification.name %>
                                <div class="float-right">
                                    <small class="msg_time time"><%= notification.created_at %></small>
                                </div>
                              </div>
                            <% end %>  
                          <% end %>
                        <% elsif notification.type == :order %>
                          <%= link_to contact_seller_rooms_path(seller_id: notification.orderer.id), method: :post, class: "dropdown-item" do %>
                            <div class="alert alert-success">
                              <i class="fa fa-info mr-1"></i>
                              <%= notification.name %>
                              <div class="float-right">
                                  <small class="msg_time time"><%= notification.created_at %></small>
                              </div>
                            </div>
                          <% end %>
                        <% elsif notification.type == :delivery %>
                          <%= link_to contact_seller_rooms_path(seller_id: notification.orderer.id), method: :post, class: "dropdown-item" do %>
                            <div class="alert alert-info">
                              <i class="fa fa-user mr-1"></i>
                              <%= notification.name %>
                              <div class="float-right">
                                  <small class="msg_time time"><%= notification.created_at %></small>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

