<div style="margin-top: 30px; padding: 50px;" id="main-content">
  <h2>Your Notifications</h2>
    <% @notifications.each do |notification| %>
      <% if notification.type == :comment %>
        <%= link_to product_path(notification.product), class: "dropdown-item" do %>
            <div class="text-center card align-middle" style="padding-top: 10px; padding-bottom: 10px;">
                <%= notification.name %>
            </div>
        <% end %>
      <% elsif notification.type == :order %>
        <%= link_to contact_seller_rooms_path(seller_id: notification.orderer.id), method: :post, class: "dropdown-item" do %>
            <div class="text-center card align-middle" style="padding-top: 10px; padding-bottom: 10px;">
                <%= notification.name %>
            </div>
        <% end %>
      <% elsif notification.type == :delivery %>
        <%= link_to contact_seller_rooms_path(seller_id: notification.orderer.id), method: :post, class: "dropdown-item" do %>
            <div class="text-center card align-middle" style="padding-top: 10px; padding-bottom: 10px;">
                <%= notification.name %>
            </div>
        <% end %>
      <% end %>
    <% end %>
</div>
