<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="position: relative; margin-top: 70px">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag "banner/delivery2", class: "w-100", alt: "Item Promo" %>
            <div class="carousel-caption">
                <h3 class="d-none d-sm-block">Post your big item and get 800¥!*</h3>
                <h5 class="d-none d-lg-block">200¥ for small item</h5>
                <a class="d-none d-sm-block" href="https://www.facebook.com/2gaijin/photos/a.347612255871920/395246451108500/?type=3&theater" target="_blank">
                    <p><small>*Terms and condition apply</small></p>
                </a>
                <%= link_to new_product_path do %>
                    <button class="btn btn-primary btn-lg">Post Your Product</button>
                <% end %>
            </div>
        </div>
        <div class="carousel-item">
            <%= image_tag "banner/delivery1", class: "w-100", alt: "Delivery Promo" %>
            <div class="carousel-caption">
                <h3 class="d-none d-sm-block">Use our delivery service now!*</h3>
                <h5 class="d-none d-lg-block">Click the button below to order your delivery</h5>
                <a class="d-none d-sm-block" href="https://www.facebook.com/2gaijin/photos/a.314037062562773/408269996472812/?type=3&theater" target="_blank">
                    <p><small>*Delivery pricing</small></p>
                </a>
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deliveryModal">Order Delivery</button>
            </div>
        </div> 
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="main-content" style="width: 100%;">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card mx-auto">
                    <div class="card-header">
                        <h3>Instant Delivery</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-6 text-center">
                                    <label>Where to Pick</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-map-marker-alt"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                    </div>
                                </div>
                                <div class="col-6 text-center">
                                    <label>Destination</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-map-marker-alt"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer float-right ml-auto">
                        <button class="btn btn-primary btn-lg" type="submit" data-toggle="modal" data-target="#checkoutModal">Continue to checkout</button>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row d-none d-lg-block d-md-block">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body" style="background-color: #F17022;">
                        <div class="card-title text-center">
                            <h4 style="color: white;">Recently Added Products</h4>
                        </div>
                        <div class="owl-carousel owl-theme" id="products-carousel">
                            <% if @recentproducts.count > 0 %>
                                <% @recentproducts.each do |rproduct| %>
                                    <div class="card">
                                        <div class="product-item pb-3">
                                            <div class="product-image">
                                                <% if rproduct.image? %>
                                                    <%= image_tag rproduct.image.url, alt: "image", style: "padding: 10px; object-fit: scale-down", class: "gaijin-img-square" %>
                                                <% else %>
                                                    <%= image_tag "products/product-1-50.png", alt: "image", style: "padding: 10px; object-fit: scale-down", class: "gaijin-img-square" %>
                                                <% end %>
                                            </div>
                                            <div class="product-details text-center">
                                                <div class="product-name" style="font-size: 1em;"><%= rproduct.name %></div>
                                                <!-- <div class="text-muted text-small">Updated 3 mins ago</div> -->
                                                <div class="product-cta">
                                                    <a href="<%= product_path(rproduct) %>" class="btn btn-primary">Detail</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2><center>All Products</center></h2>
                <div class="row">
                    <% if @products.count > 0 %>
                        <% @products.each do |product| %>
                            <div class="col-lg-3 col-md-3 col-sm-3 mx-auto" style="width: 250px; height:100%">
                                <div class="card">
                                    <% if product.image? %>
                                        <%= image_tag product.image.url, class: "card-img-top", alt: "image", style: "width: 100%; height: 250px; object-fit: cover;" %>
                                    <% else %>
                                        <%= image_tag "products/product-1-50.png", class: "card-img-top", alt: "image", style: "width: 100%; height: 250px; object-fit: cover;" %>
                                    <% end %>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title"><%= product.name %></h5>
                                        <p class="card-text">&#165;<%= product.price %></p>
                                        <%= link_to 'Detail', product_path(product), class: "btn btn-primary" %>
                                            
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <%= paginate @products %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2><center>White Appliances</center></h2>
                <div class="row">
                    <% if @whiteappls.count > 0 %>
                        <% @whiteappls.each do |product| %>
                            <div class="col-lg-3 col-md-3 col-sm-3 mx-auto" style="width: 250px; height:100%">
                                <div class="card">
                                    <% if product.image? %>
                                        <%= image_tag product.image.url, class: "card-img-top", alt: "image", style: "width: 100%; height: 250px; object-fit: cover;" %>
                                    <% else %>
                                        <%= image_tag "products/product-1-50.png", class: "card-img-top", alt: "image", style: "width: 100%; height: 250px; object-fit: cover;" %>
                                    <% end %>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title"><%= product.name %></h5>
                                        <p class="card-text">&#165;<%= product.price %></p>
                                        <%= link_to 'Detail', product_path(product), class: "btn btn-primary" %>
                                            
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <%= paginate @whiteappls %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2><center>Furnitures</center></h2>
                <div class="row">
                    <% if @furnitures.count > 0 %>
                        <% @furnitures.each do |product| %>
                            <div class="col-lg-3 col-md-3 col-sm-3 mx-auto" style="width: 250px; height:100%">
                                <div class="card">
                                    <% if product.image? %>
                                        <%= image_tag product.image.url, class: "card-img-top", alt: "image", style: "width: 100%; height: 250px; object-fit: cover;" %>
                                    <% else %>
                                        <%= image_tag "products/product-1-50.png", class: "card-img-top", alt: "image", style: "width: 100%; height: 250px; object-fit: cover;" %>
                                    <% end %>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title"><%= product.name %></h5>
                                        <p class="card-text">&#165;<%= product.price %></p>
                                        <%= link_to 'Detail', product_path(product), class: "btn btn-primary" %>
                                            
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <%= paginate @furnitures %>
                    <% end %>
                </div>
            </div>
        </div>
        <div style="z-index: 2147483647; position: absolute; bottom: 10px; right: 10px">
            <%= link_to new_product_path do %>
                <button class="kc_fab_main_btn d-lg-none d-md-none" style="width: 30px; height: 30px; font-size: 12px">+</button>
                <button class="kc_fab_main_btn d-none d-md-block">+</button>
            <% end %>
        </div>
    </div>
</div>