<% title "Contact Us" %>
<% description "You can contact 2Gaijin.com team by filling in the form provided on this page" %>
<% keywords "Main, Items, Secondhand, Cheap, Delivery, Sell, Buy, Sapporo, Hokkaido, Japan, Gaijin" %>

<div class="main-content" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="row m-0">
                        <div class="col-12 col-md-12 col-lg-6 p-0">
                            <div class="card-header text-center">
                                <h4>Contact Us</h4>
                            </div>
                            <div class="card-body">
                                <% if user_signed_in?
                                    @email = current_user.email 
                                    if current_user.last_name.present? 
                                        @fullname = current_user.first_name + " " + current_user.last_name
                                    else
                                        @fullname = current_user.first_name
                                    end
                                end %>
                                <%= form_for @ticket, class: "needs-validation" do |form| %>
                                    <div class="form-group floating-addon">
                                        <label>Name</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="far fa-user"></i>
                                                </div>
                                            </div>
                                            <%= form.text_field :name, value: @fullname, class: "form-control", placeholder: "Name", autofocus: true, required: true %>
                                            <!-- <input id="name" type="text" class="form-control" name="name" autofocus placeholder="Name"> -->
                                        </div>
                                    </div>

                                    <div class="form-group floating-addon">
                                        <label>Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                            </div>
                                            <%= form.text_field :email, value: @email, class: "form-control", type: "email", placeholder: "Email", required: true %>
                                            <!-- <input id="email" type="email" class="form-control" name="email" placeholder="Email"> -->
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Message</label>
                                        <%= form.cktext_area :content, id: "product-editor", cols: 40, style: "width: 100%", required: true %>
                                        <!-- <textarea class="form-control" placeholder="Type your message" data-height="150"></textarea> -->
                                    </div>

                                    <div class="form-group text-right">
                                        <%= form.button "Send Message", type: :submit, class: "btn btn-round btn-lg btn-primary" %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 p-0">
                            <div class="card-body">
                                <dl class="row">
                                    <p class="lead">Have any question? Feel free to contact the webmaster through the following contact method: </p>
                                    <dt class="col-sm-3"><strong>Phone</strong></dt>
                                    <dd class="col-sm-9"><em class="mr-2 float-right">(+81)80-3082-8692</em><br></dd>
                                    <dt class="col-sm-3"><strong>Email</strong></dt>
                                    <dd class="col-sm-9"><em class="mr-2 float-right">2gaijin@kitalabs.com</em><br></dd>
                                    <dt class="col-sm-3"><strong>Wechat ID</strong></dt>
                                    <dd class="col-sm-9"><em class="mr-2 float-right">senorpuppy</em><br></dd>
                                    <dt class="col-sm-3"><strong>LINE ID</strong></dt>
                                    <dd class="col-sm-9"><em class="mr-2 float-right">jjsonofj</em><br></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
