<div class="tab-pane active" id="shipping-address" role="tabpanel" aria-labelledby="shipping-address">
    <div class="mb-2">
        <button class="btn btn-primary btn-lg btn-icon icon-left" data-toggle="modal" data-target="#Modal<%= @newaddress.id %>"><i class="fa fa-plus"></i> Add New Address</button>
    </div>
    <hr>
    <div class="col-12 table-responsive">
        <table class="table">
            <thead style="color: none;">
                <tr>
                    <!-- <th scope="col">Product's Name</th> -->
                    <th class="text-center" width="300px">Address</th>
                    <th class="text-center">District</th>
                    <th class="text-center">Primary</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @addresses.each do |address| %>
                    <% if !address.full_address.nil? %>
                    <tr>
                        <td><p><%= address.full_address %> <%= address.apartment %></p></td>
                        <td class="text-center"><%= address.city %>, <%= address.state %> 〒<%= address.postal_code %></td>
                        <td class="text-center">
                            <% if !address.is_primary %>
                                <%= form_tag set_primary_addresses_path, method: :post do %>
                                    <input id="address_id" type="hidden" name="address_id" value="<%= address.id %>">
                                    <%= button_tag type: "submit", class: "btn btn-outline-primary btn-icon icon-left" do %> 
                                        <i class="fas fa-home"></i> Set As Primary
                                    <% end %>
                                <% end %>
                            <% else %>
                                <span class="badge badge-success">Primary Address</span>
                            <% end %>
                        </td>
                        <td>
                            <center>
                                <button class="btn btn-outline-primary btn-icon icon-left" data-toggle="modal" data-target="#Modal<%= address.id %>"><i class="fa fa-edit"></i> Edit</button>
                                <%= link_to address, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                    <button class="btn btn-outline-danger btn-icon icon-left"><i class="fa fa-trash"></i> Delete</button>
                                <% end %>
                            </center>
                        </td>
                    </tr>
                    <%= render 'addresses/address_modal', a: address %>
                    <% end %>
                <% end %>
            </tbody>
        </table>
        <hr>
        <%= render 'addresses/address_modal', a: @newaddress %>
    </div>                                
</div>
