<div class="tab-pane active" id="listed-product" role="tabpanel" aria-labelledby="listed-product">
    <div class="mb-2">
        <%= link_to new_product_path do %>
            <button class="btn btn-primary btn-lg btn-icon icon-left"><i class="fa fa-plus"></i> Sell Something</button>
        <% end %>
    </div>
    <hr>
    <div class="col-12 table-responsive">
        <table class="table">
            <thead style="color: none;">
                <tr>
                    <th>Preview Items</th>
                    <!-- <th scope="col">Product's Name</th> -->
                    <th class="text-center">Status</th>
                    <!--<th class="text-center">Quantity</th>-->
                    <th class="text-center">Price</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <br>
                <% if @products.count > 0 %>
                    <% @products.each do |product| %>
                    <tr id="product-tab-<%= product.id %>">
                        <td>
                            <a href="#" style="text-decoration: none; color: inherit;">
                                <div class="media m-2">
                                    <% if product.product_images? %>
                                        <%= link_to product_path(product) do %>
                                            <% if product.product_images[0].image.present? %>
                                                <%= image_tag product.product_images[0].image.url(:thumb), class: "img-thumbnail align-content-start mr-3", alt: "image", style: "max-width:150px" %>
                                            <% else %>
                                                <%= image_tag "products/product-1-50.png", class: "img-thumbnail align-content-start mr-3", alt: "image", style: "max-width:150px" %>
                                            <% end %>
                                        <% end %>
                                    <% else %>
                                        <%= link_to product_path(product) do %>
                                            <%= image_tag "products/product-1-50.png", class: "img-thumbnail align-content-start mr-3", alt: "image", style: "max-width:150px" %>
                                        <% end %>    
                                    <% end %>
                                    <div class="media-body vertical-center">
                                        <%= link_to product_path(product) do %>
                                            <h5 class="mt-0"><%= product.name %></h5>
                                        <% end %>
                                        <!-- <p>Simple Description</p> -->
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class="text-center">
                            <% if product.status == :active %>
                                <span id="product-status-badge-<%= product.id %>" class="badge badge-success">Available</span>
                            <% end %>
                            <% if product.status == :sold %>
                                <span id="product-status-badge-<%= product.id %>" class="badge badge-warning">Sold</span>
                            <% end %>
                        </td>
                        <!-- <td class="text-center">2</td> -->
                        <td class="text-center"><span class="currency">&#165;</span><%= product.price %></td>
                        <td>
                            <center>
                                <button class="btn btn-outline-primary btn-icon icon-left" data-toggle="modal" data-target="#Modal<%= product.id %>" style="width: 175px; margin-bottom: 2px;"><i class="fa fa-edit"></i> Edit</button><br>
                                <button class="btn btn-outline-primary" onclick="markSold('<%= product.id %>')" style="width: 175px; margin-bottom: 2px;">
                                    <i class="fas fa-tags"></i> 
                                    <% if product.status == :active %>
                                        <span id="product-status-btn-<%= product.id %>">Mark as Sold</span>
                                    <% else %>
                                        <span id="product-status-btn-<%= product.id %>">Mark as Available</span>
                                    <% end %>
                                </button><br>    
                                <button class="btn btn-outline-danger btn-icon icon-left" onclick="deleteProduct('<%= product.id %>')" style="width: 175px; margin-bottom: 2px;"><i class="fa fa-trash"></i> Delete</button>
                            </center>
                            <%= render 'products/edit_modal', p: product %>
                        </td>
                    </tr>
                    <% end %>
                    <%= pagy_bootstrap_nav(@pagy).html_safe %>
                    <%= pagy_info(@pagy).html_safe %>
                    <% else %>
                        There is no item you have listed. Let's start selling. <%= link_to "Click Here", new_product_path %>
                <% end %>
            </tbody>
        </table>
        <hr>
    </div>
</div>
