<div class="tab-pane active" id="edit-profile" role="tabpanel">
    <div class="row">
        <div class="col-lg-2 col-sm-12">
            <div class="card-header">
                <h4>Edit Photo</h4>
            </div>
                <% if current_user.avatar? %>
                    <%= image_tag current_user.avatar.url, class: "rounded-circle img-thumbnail" %>
                <% else %>
                    <%= image_tag "avatar/avatar-1.png", class: "rounded-circle img-thumbnail" %>
                <% end %>
            <div class="form-group text-center">
                <!-- <label>Upload Image</label> -->
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :class => "need-validation") do |f| %>
                    <div class="custom-file">
                        <%= f.label :avatar %> 
                        <%= f.file_field :avatar, class: "form-control" %>
                    </div>
                    <div class="card-footer text-right">
                        <%= f.submit "Upload Image", class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="card col-lg-5">
            <div class="card-header">
                <h4>Edit Profile</h4>
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :class => "need-validation") do |f| %>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <%= f.label :first_name %><br />
                        <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name", class: "form-control", required: true %>
                        <div class="invalid-feedback">
                            Please fill in the first name
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <%= f.label :last_name %><br />
                        <%= f.text_field :last_name, autofocus: true, autocomplete: "last-name", class: "form-control", required: true %>
                        <div class="invalid-feedback">
                            Please fill in the last name
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-7">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>
                        <div class="invalid-feedback">
                            Please fill in the email correctly
                        </div>
                    </div>
                    <div class="form-group col-lg-5">
                        <%= f.label :phone %><br />
                        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form-control" %>
                        <div class="invalid-feedback">
                            Please fill in the phone number correctly
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <%= f.submit "Save Changes", class: "btn btn-primary" %>
                </div>
            <% end %>

            <div class="row">
                
            </div>
        </div>
        <div class="card col-lg-5">
            <div class="card-header">
                <h4>Edit Password</h4>
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |fp| %>
            <%= render "devise/shared/error_messages", resource: resource %>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <%= fp.label :current_password %>
                        <%= fp.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <%= fp.label :password %>
                        <%= fp.password_field :password, autocomplete: "new-password", class: "form-control" %>
                        <% if @minimum_password_length %>
                          <br />
                          <em><%= @minimum_password_length %> characters minimum</em>
                        <% end %>
                    </div>
                    <div class="form-group col-lg-6">
                        <%= fp.label :password_confirmation %><br />
                        <%= fp.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                    </div>
                </div>
            <div class="card-footer text-right">
                <%= fp.submit "Save Changes", class: "btn btn-primary" %>
            </div>
            <% end %>
        </div>
    </div>
</div>
