<div class="main-content" style="width: 100%;">
  <div class="container">
    <div class="card">
      <h5 class="panel-title" style="margin-left: 20px; margin-top: 20px">Crop Images</h3>
      <hr>
      <div class='card-body'>
        <%= form_for @product do |f| %>
          <%= f.fields_for :product_images do |builder| %>
            <div class='col-12 product-image-forms' style="overflow: auto; overflow-y: hidden; margin-left: -25px;">
              <%= image_tag builder.object.image.url, class: "cropbox" %>
              <br>
              <% %w[x y w h].each do |attribute| %>
                <%= builder.hidden_field "crop_#{attribute}", class: "crop_#{attribute}_attr" %>
              <% end %>
            </div>
          <% end %>
          <div class="form-actions">
            <%= f.button :Submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>