<div class="main-content" style="width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="row no-gutters">
                        <aside class="col-sm-4 border-right">
                            <article>
                                <a href="#" data-fancybox="">
                                    <% if @product.image? %>
                                      <%= image_tag @product.image.url, width: "100%" %>
                                    <% else %>
                                      <%= image_tag "products/product-1-50.png", width: "100%" %>
                                    <% end %>
                                </a>
                            </article>
                        </aside>
                        <aside class="col-sm-8">
                            <article class="p-5">
                                <% if @product.status == :sold %>
                                    <div class="alert alert-warning" role="alert">
                                        This item is <b>Sold Out</b>
                                    </div>
                                <% end %>
                                <h3 class="title mb-3"><%= @product.name %></h3>
                                <div class="mb-3">
                                    <var class="price h3 text-warning"> 
                                        <span class="currency">&#165;</span><span class="num"><%= @product.price %></span>
                                    </var>
                                </div>
                                <dl class="row">
                                    <dd class="col-sm-12">by <%= @product.user.first_name %> <%= @product.user.last_name %></dd>
                                    <dd class="col-12"><small>On <b class="product_time"><%= @product.created_at %></b></small></dd>    
                                </dl>
                                <dl>
                                    <dt>Description</dt>
                                    <dd>
                                        <p><%= @product.description %></p>
                                    </dd>
                                </dl>
                                <dl class="row">
                                    <dt class="col-sm-3">Category</dt>
                                    <dd class="col-sm-9"><% @product.categories.each do |category| %><%= category.name %> <% end %></dd>
                                    <dt class="col-sm-3">Location</dt>
                                    <dd class="col-sm-9">
                                        <%= button_tag type: "submit", class: "btn btn-outline-primary", data: { toggle: "modal", target: "#locationModal" } do %>
                                            <i class="fas fa-map-marked-alt"></i> See Map
                                        <% end %> 
                                    </dd>
                                </dl>
                                <dl>
                                    <dd>
                                        <small id="updated_at">Updated <b class="product_time"><%= @product.updated_at %></b></small>
                                    </dd>
                                </dl>
                                <hr>
                                <!-- <a href="#" class="btn  btn-primary"> Buy now </a>
                                <a href="#" class="btn  btn-outline-primary"> <i class="fas fa-shopping-cart"></i> Add to cart </a> -->
                                <% if current_user != @product.user %> 
                                    <%= form_tag contact_seller_rooms_path, method: :post do %>
                                        <input id="seller_id" type="hidden" name="seller_id" value="<%= @product.user.id %>">
                                        <%= button_tag type: "submit", class: "btn btn-outline-primary" do %> 
                                            <i class="fas fa-phone"></i> Contact Seller
                                        <% end %> 
                                    <% end %>
                                <% else %>
                                    <%= form_tag mark_as_sold_products_path, method: :post do %>
                                        <%= hidden_field_tag :id, @product.id %>
                                        <%= button_tag type: "submit", class: "btn btn-outline-primary" do %> 
                                            <i class="fas fa-tags"></i> 
                                            <% if @product.status == :active %>
                                                Mark as Sold
                                            <% else %>
                                                Mark as Available
                                            <% end %>
                                        <% end %> 
                                    <% end %>
                                <% end %>
                            </article>
                        </aside>
                    </div>
                </div>
            </div>
            <!-- <div class="col-3">
                <div class="card">
                    <div class="card-header">Top Product</div>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Related Products</h3>
                    </div>
                    <div class="card-body">
                        <div class="owl-carousel owl-theme" id="products-carousel">
                            <% if @recentproducts.count > 0 %>
                                <% @recentproducts.each do |rproduct| %>
                                    <div class="card">
                                        <div class="product-item pb-3">
                                            <div class="product-image">
                                                <% if rproduct.image? %>
                                                    <%= image_tag rproduct.image.url, alt: "image", style: "padding: 10px; object-fit: scale-down", class: "gaijin-img-square" %>
                                                <% else %>
                                                    <%= image_tag "products/product-1-50.png", alt: "image", style: "padding: 10px; object-fit: scale-down", class: "gaijin-img-square" %>
                                                <% end %>
                                            </div>
                                            <div class="product-details text-center">
                                                <div class="product-name" style="font-size: 1em;"><%= rproduct.name %></div>
                                                <!-- <div class="text-muted text-small">Updated 3 mins ago</div> -->
                                                <div class="product-cta">
                                                    <a href="<%= product_path(rproduct) %>" class="btn btn-primary">Detail</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'products/location_modal' %>
