<div class="main-content" style="width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="row no-gutters">
                        <aside class="col-sm-4 border-right">
                            <article>
                                <a href="#" data-fancybox="">
                                    <% if @product.image? %>
                                      <%= image_tag @product.image.url, width: "100%" %>
                                    <% else %>
                                      <%= image_tag "products/product-1-50.png", width: "100%" %>
                                    <% end %>
                                </a>
                            </article>
                        </aside>
                        <aside class="col-sm-8">
                            <article class="p-5">
                                <h3 class="title mb-3"><%= @product.name %></h3>
                                <div class="mb-3">
                                    <var class="price h3 text-warning">
                                        <% if @product.price == 0 %>
                                            <span class="currency">FREE</span>
                                        <% else %> 
                                            <span class="currency">&#165;</span><span class="num"><%= @product.price %></span>
                                        <% end %>
                                    </var>
                                </div>
                                <% if @product.status == :sold %>
                                    <div class="alert alert-warning" role="alert">
                                        This item is <b>Sold Out</b>
                                    </div>
                                <% end %>
                                <dl class="row">
                                    <dd class="col-sm-12">by <%= @product.user.first_name %> <%= @product.user.last_name %></dd>
                                    <dd class="col-12"><small>On <b class="product_time"><%= @product.created_at %></b></small></dd>    
                                </dl>
                                <dl>
                                    <dt>Description</dt>
                                    <dd>
                                        <p><%= @product.description %></p>
                                    </dd>
                                </dl>
                                <dl class="row">
                                    <dt class="col-sm-3">Category</dt>
                                    <dd class="col-sm-9"><% @product.categories.each do |category| %><%= category.name %> <% end %></dd>
                                    <dt class="col-sm-3">Location</dt>
                                    <dd class="col-sm-9">
                                        <%= button_tag type: "submit", class: "btn btn-outline-primary", data: { toggle: "modal", target: "#locationModal" } do %>
                                            <i class="fas fa-map-marked-alt"></i> See Map
                                        <% end %> 
                                    </dd>
                                </dl>
                                <hr>
                                <% if user_signed_in? %>
                                    <% if current_user != @product.user %>
                                        <%= link_to contact_seller_rooms_path(seller_id: @product.user.id), method: :post, class: "btn btn-outline-primary" do %>
                                            <i class="fas fa-phone"></i> Contact Seller
                                        <% end %> 
                                    <% elsif current_user == @product.user %>
                                        <% if @product.status == :active %>
                                            <%= link_to mark_as_sold_products_path(id: @product.id), method: :post, class: "btn btn-outline-primary" do %>
                                                <i class="fas fa-tags"></i> Mark as Sold
                                            <% end %>
                                        <% elsif @product.status == :sold %>
                                            <%= link_to mark_as_sold_products_path(id: @product.id), method: :post, class: "btn btn-outline-primary" do %>
                                                <i class="fas fa-tags"></i> Mark as Available
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                    <% if current_user != @product.user %>
                                        <% if @product.status == :active %>
                                            <% if Delivery.where(:status_cd => 1, user_id: current_user.id, product_ids: @product.id).present? %>
                                                <%= link_to remove_from_delivery_delivery_path(id: @product.id), method: :post, class: "btn btn-outline-primary" do %>
                                                    <i class="fas fa-truck"></i> Remove from Delivery
                                                <% end %>
                                            <% else %>
                                                <%= link_to add_to_delivery_delivery_path(id: @product.id), method: :post, class: "btn btn-outline-primary" do %>
                                                    <i class="fas fa-truck"></i> Add to Delivery
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <%= link_to new_user_session_path, class: "btn btn-outline-primary" do %> 
                                        <i class="fas fa-phone"></i> Contact Seller
                                    <% end %>
                                    <%= link_to new_user_session_path, class: "btn btn-outline-primary" do %> 
                                        <i class="fas fa-truck"></i> Add to Delivery
                                    <% end %> 
                                <% end %>
                            </article>
                        </aside>
                    </div>
                </div>
            </div>
            <!-- <div class="col-3">
                <div class="card">
                    <div class="card-header">Top Product</div>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Comments</h3>
                    </div>
                    <div class="card-body">
                        <% if @comments.count > 0 %>
                            <% @comments.each do |comment| %>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="d-none d-md-block col-md-2">
                                                <%= image_tag another_user_avatar(comment.user), class: "rounded-circle img-fluid w-50 mx-auto d-block" %>
                                            </div>
                                            <div class="col-md-10">
                                                <p><a href="#"><strong><%= comment.user.first_name %></strong></a>
                                                <p class="comment_time d-lg-none d-md-none text-secondary"><%= comment.created_at %></p>
                                                <span class="comment_time d-none d-lg-block d-md-block text-secondary float-right"><%= comment.created_at %></span>
                                                </p>
                                                <p><%= comment.content %></p>
                                                <% if @product.user == current_user || comment.user == current_user %>
                                                    <%= link_to comment_path(comment), method: :delete, class: "btn btn-outline-danger" do %>
                                                        <i class="fas fa-trash"></i> Delete
                                                    <% end %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>

                        <div class="form-group text-center">
                            <% if user_signed_in? %>
                                <%= form_for @comment do |f| %>
                                    <%= f.text_area :content, class: "form-control", placeholder: "Write Your Comment Here...", rows: "10", required: true %>
                                    <%= f.hidden_field :product_id, value: @product.id %>
                                    <%= f.button "Add Comment", type: :submit, class: "btn btn-primary float-right" %>
                                <% end %>
                            <% else %>
                                <h5><a href="<%= new_user_session_path %>">Login</a> to add your comment on this product</h5>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>More Product From This User</h3>
                    </div>
                    <div class="card-body">
                        <div class="owl-carousel owl-theme" id="products-carousel-2">
                            <% if @userproducts.count > 0 %>
                                <% @userproducts.each do |uproduct| %>
                                    <%= render 'common/rproduct_card', rproduct: uproduct %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Related Products</h3>
                    </div>
                    <div class="card-body">
                        <div class="owl-carousel owl-theme" id="products-carousel">
                            <% if @relatedproducts.count > 0 %>
                                <% @relatedproducts.each do |rproduct| %>
                                    <%= render 'common/rproduct_card', rproduct: rproduct %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'products/location_modal', p: @product %>
