<div class="modal fade" id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="deliveryModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deliveryModalTitle">Delivery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="delivery-tab" data-toggle="tab" href="#delivery" role="tab" aria-controls="delivery" aria-selected="true">Contact Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="shipping-address-tab" data-toggle="tab" href="#shipping-address" role="tab" aria-controls="shipping-address" aria-selected="false">Shipping Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="false">Items List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="checkout-delivery-tab" data-toggle="tab" href="#checkout-delivery" role="tab" aria-controls="checkout-delivery" aria-selected="false">Checkout</a>
          </li>
        </ul>
        <%= form_for @delivery = Delivery.new, html: { id: "delivery_form" } do |f| %>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
                <div class="mb-3">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "form-control", value: current_user.first_name + " " + current_user.last_name, required: true %>
                </div>
                <div class="mb-3">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: "form-control", value: current_user.email, placeholder: "Ex. username@example.com", required: true %>
                </div>
                <div class="mb-3">
                  <%= f.label :phone %>
                  <%= f.text_field :phone, type: "tel", class: "form-control", value: current_user.phone, placeholder: "Ex. 070-1234-5678" %>
                </div>
              <hr class="mb-4">
            </div>
            <div class="tab-pane fade" id="shipping-address" role="tabpanel" aria-labelledby="shipping-address-tab">
              <%= f.fields_for :destination do |builder| %>
                <div class="mb-3">
                  <%= builder.label :full_address %>
                  <%= builder.text_field :full_address, class: "form-control", placeholder: "Ex. Kita 14-jo, Nishi 5-Chome", required: true %>
                </div>
                <div class="mb-3">
                  <%= builder.label :apartment, "Apartment and Room Number (Optional)" %>
                  <%= builder.text_field :apartment, class: "form-control", placeholder: "Ex. Chisan, 609", required: true %>
                </div>
                <div class="row">
                  <div class="col-md-5 mb-3">
                    <%= builder.label :state %>
                    <%= builder.select :state, options_for_select(['Hokkaido']), {}, { class: "custom-select d-block w-100", required: true } %>
                  </div>
                  <div class="col-md-4 mb-3">
                    <%= builder.label :city %>
                    <%= builder.select :city, options_for_select([['Sapporo'], ['Eniwa']]), {}, { class: "custom-select d-block w-100", required: true } %>
                  </div>
                  <div class="col-md-3 mb-3">
                    <%= builder.label :postal_code %>
                    <%= builder.text_field :postal_code, class: "form-control", required: true %>                      
                  </div>
                </div>
                <div class="mb-3">
                  <label>Geolocation Address</label>
                  <div class="form-group">
                    <span class="input-group-btn">
                      <button type="button" data-toggle="collapse" href="#collapseOne" class="btn btn-default collapsed">
                        <i class="fa fa-globe-asia"></i>
                      </button>
                    </span>
                    <input class="placepicker form-control" data-map-container-id="collapseOne"/>
                  </div>
                  <div id="collapseOne" class="collapse">
                    <div class="placepicker-map thumbnail"></div>
                  </div>                      
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="save-info">
                  <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                <hr class="mb-4">
                <!-- <button type="button" class="btn btn-secondary btnPrevious">Previous</button>
                <button type="button" class="btn btn-secondary btnNext">Next</button> -->
              <% end %>
            </div>
            <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
              <%= f.fields_for :delivery_items, DeliveryItem.new do |item| %>
                <div class="mb-3">
                  <%= render "deliveries/delivery_item_fields", f: item %>
                </div>
                <div class="mb-3">
                  <span class="pull-right">
                    <%= link_to_add_association f, :delivery_items, render_options: { wrapper: 'bootstrap' }, partial: 'deliveries/delivery_item_fields' do %>
                      <button class="btn btn-primary">Add Item</button>
                    <% end %>
                  </span>
                </div>
              <% end %>
              <hr class="mb-4">
            </div>
            <div class="tab-pane fade" id="checkout-delivery" role="tabpanel" aria-labelledby="checkout-delivery-tab">
              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">Cash on Delivery</label>
                </div>
              </div>
              <%= f.hidden_field :price, id: "delivery_price", value: 0 %>
              <div class="col-mb-3">
                <%= f.label :delivery_date %>
                <%= f.text_field :delivery_date, class: "form-control bootstrap-date-picker", required: true %>
              </div>
              <div class="col-mb-3">
                <label>Route</label>
                <div style='width: 100%;'>
                  <div id="route_map" style='width: 100%; height: 200px;'></div>
                </div>                      
              </div>
              <div class="col-mb-3">
                <table>
                  <tr>
                    <td>Delivery Price</td>
                    <td class="pull-right" id="delivery_price_view">¥‎0</td>
                  </tr>
                  <tr>
                    <td>Total Price</td>
                    <td class="pull-right" id="total_price_view">¥‎0</td>
                  </tr>
                </table>
              </div>
              <%= f.button "Check Out", type: :submit, class: "btn btn-primary" %>
              <hr class="mb-4">
            </div>
          </div>
        </div>
      <% end %>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
