<nav class="navbar navbar-expand-lg navbar-expand-sm main-navbar fixed-top" id="navbar-2gaijin">
    <ul class="navbar-nav">
            <li class="d-lg-block d-none">
                <%= link_to root_url do %>
                   <%= image_tag "2gaijinheader-1.png", height: "60px", width: "200px" %>
                <% end %>
            </li>
        </ul>
        <ul class="navbar-nav mr-1">
            <li class="dropdown dropdown-list-toggle">
                <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="dropdown-menu dropdown-list dropdown-menu-left">
                    <div class="dropdown-list-category dropdown-list-icons">
                        <a href="<%= search_page_path(:category => "Electronics") %>" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-plug fa-lg"></i>
                            </div>
                            <div class="col-md-10">Electronics</div>
                        </a>
                        <a href="<%= search_page_path(:category => "White Appliances") %>" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-tablet fa-lg"></i> 
                            </div>
                            <div class="col-md-10">White Appliances</div>
                        </a>
                        <a href="<%= search_page_path(:category => "Furnitures") %>" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-couch fa-lg"></i> 
                            </div>
                            <div class="col-md-10">Furnitures</div>
                        </a>
                        <a href="#" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-utensils fa-lg"></i> 
                            </div>
                            <div class="col-md-10">Kitchens</div>
                        </a>
                        <a href="#" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-book fa-lg"></i> 
                            </div>
                            <div class="col-md-10">Books</div>
                        </a>
                        <a href="#" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-tshirt fa-lg"></i> 
                            </div>
                            <div class="col-md-10">Apparels</div>
                        </a>
                        <a href="#" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-volleyball-ball fa-lg"></i> 
                            </div>
                            <div class="col-md-10">Sports</div>
                        </a>
                        <a href="#" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-car fa-lg"></i> 
                            </div>
                            <div class="col-md-10">Vehicles</div>
                        </a>
                        <a href="#" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-shoe-prints fa-lg"></i> 
                            </div>
                            <div class="col-md-10">Shoes</div>
                        </a>
                        <a href="#" class="dropdown-item">
                            <div class="icon-left col-md-1">
                                <i class="fa fa-ellipsis-h fa-lg"></i> 
                            </div>
                            <div class="col-md-10">Miscellaneous</div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <%= form_tag search_page_path, method: :get, class: "form-inline mr-auto" do %>
            <div class="search-element">
                <%= search_field_tag :q, params[:q], class: "form-control", placeholder: "Search", :"aria-label" => "Search", style: "width: 20vw;" %>
                <%= button_tag type: "submit", class: "btn", :name => nil do %>
                    <i class="fas fa-search"></i>
                <% end %>
                <div class="search-backdrop"></div>
            </div>
        <% end %>
            <ul class="navbar-nav navbar-right">
                <li class="dropdown dropdown-list-toggle">
                    <% if user_signed_in? %>
                    <a href="#" id="package-notif-beep" data-toggle="modal" data-target="#deliveryModal" class="nav-link nav-link-lg message-toggle"><i class="fa fa-truck"></i>
                        <!-- <span class="d-none d-lg-block">Packages</span> -->
                            <!-- <span id="package-notif-num" class="d-none d-lg-inline badge badge-warning">2</span> -->
                    <% else %>
                    <a href="<%= new_user_session_path %>" id="package-notif-beep" class="nav-link nav-link-lg message-toggle"><i class="fa fa-truck"></i> 
                    <% end %>
                    </a>
                </li>
                <li id="msg-nav" class="dropdown dropdown-list-toggle">
                    <% if user_signed_in? %>
                    <a href="#" id="msg-notif-beep" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle"><i class="fa fa-envelope"></i>
                        <!-- <span class="d-none d-lg-block">Packages</span> -->
                            <span id="msg-notif-num" class="d-none d-lg-inline badge badge-primary"><%= Room.where(:is_read => false).and(:user_ids => current_user.id).count %></span>
                    <% else %>
                    <a href="<%= new_user_session_path %>" id="msg-notif-beep" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle"><i class="fa fa-envelope"></i>
                    <% end %>
                    </a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right">
                        <div class="dropdown-header">Message
                        </div>
                        <% if user_signed_in? %>
                        <div class="dropdown-list-content dropdown-list-message" id="notification">
                            <% user_rooms.limit(4).each do |room| %>
                                <a href="<%= room_path(room) %>" class="dropdown-item" data-room-order="">
                                    <div class="dropdown-item-avatar">
                                        <%= image_tag "avatar/avatar-2.png", class: "rounded-circle", width: "30", alt: "image" %>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <%  if room.room_type == :private
                                                room.user_ids.each do |user|
                                                    if current_user.id != user
                                                        @roomname = User.find(user).first_name
                                                    end
                                                end
                                            else
                                                @roomname = room.name
                                        end %>
                                        <b class="msg_name"><%= @roomname %></b>
                                        <% if !room.is_read %>
                                            <div class="text-success text-small font-600-bold d-none d-lg-inline-block" style="float: right;">
                                                <i class="fas fa-circle"></i>
                                            </div>
                                        <% end %>
                                        <div class="msg_time time"><%= room.last_active %></div>
                                    </div>
                                </a>
                            <% end %>
                        </div>
                        <div class="dropdown-footer text-center">
                            <%= link_to rooms_path do %>
                                All Messages <i class="fas fa-chevron-right"></i>
                            <% end %>
                        </div>
                        <% end %>
                    </div>
                </li>
                <li class="dropdown dropdown-list-toggle">
                    <% if user_signed_in? %>
                    <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle"><i class="fa fa-bell"></i>
                        <!-- <span class="d-none d-lg-block">Packages</span> -->
                        <span class="d-none d-lg-inline badge badge-warning" id="total-notif-number"><%= user_unread_notifs %></span>
                    <% else %>
                    <a href="<%= new_user_session_path %>" class="nav-link nav-link-lg message-toggle"><i class="fa fa-bell"></i>
                    <% end %>
                    </a>
                    <div class="dropdown-menu dropdown-list dropdown-menu-right">
                        <div class="dropdown-header">Notification
                        </div>
                        <% if user_signed_in? %>
                        <div class="dropdown-list-content dropdown-list-message" data-channel-subscribe="notification" data-user-id="<%= current_user.id %>" id="notification">
                            <% user_notifications.limit(4).each do |notification| %>
                                <a href="<%= product_path(notification.product) %>" class="dropdown-item">
                                    <div class="dropdown-item-desc">
                                        <b><%= notification.name %></b>
                                        <div class="msg_time time"><%= notification.created_at %></div>
                                    </div>
                                </a>
                            <% end %>
                        </div>
                        <% end %>
                    </div>
                </li>
                <li class="dropdown d-none d-lg-flex">
                    <% if user_signed_in? %>
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <%= image_tag "avatar/avatar-1.png", class: "rounded-circle mr-1", alt: "image" %>
                            <div class="d-none d-lg-inline-block">Hi, <%= current_user.first_name %></div>
                        </a> 
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title d-inline-block">Hi, <%= current_user.first_name %></div>
                        <!-- <div class="dropdown-title d-inline-block">Hi, Bekti</div> -->
                        <!--<div class="dropdown-title"><small>Logged in 5 min ago</small></div>-->
                        <a href="<%= user_root_url %>" class="dropdown-item has-icon">
                            <i class="far fa-user"></i> Profile
                        </a>
                        <a href="<%= user_product_url %>" class="dropdown-item has-icon">
                            <i class="far fa-list-alt"></i> Listed Products
                        </a>
                        <a href="<%= new_product_path %>" class="dropdown-item has-icon">
                            <i class="far fa-calendar-plus"></i> Add Product
                        </a>
                        <div class="dropdown-divider"></div>
                        <%= link_to destroy_user_session_path, :method => :delete, :class => "dropdown-item has-icon text-danger" do %>
                            <i class="fas fa-sign-out-alt"></i>Logout
                        <% end %>
                    </div>
                    <% else %>
                        <%- if controller_name != 'sessions' %>
                            <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
                        <% end %>
                    <% end %>
                </li>
            </ul>
</nav>

<div class="d-none" data-role="notif-template">
    <a href="" class="dropdown-item" id="notif-link" data-role="notif-link">
        <div class="dropdown-item-desc">
            <b data-role="notif-title"></b>
            <div class="msg_time time" data-role="notif-time"></div>
        </div>
    </a>
</div>
