<nav class="navbar navbar-expand-lg navbar-expand-sm main-navbar fixed-top" id="navbar-2gaijin">
    <span id="moment-chinese-locale-token" class="d-none"></span>
    <ul class="navbar-nav" style="margin-left: -5px; margin-right: -4px;">
        <li class="d-lg-block d-md-block d-none">
            <%= link_to root_url do %>
               <%= image_tag "2gaijinheader-cn.png", height: "50px", width: "auto" %>
            <% end %>
        </li>
        <li class="d-md-none">
            <%= link_to root_url do %>
               <%= image_tag "2gaijinicon-hand.png", height: "35px", width: "auto" %>
            <% end %>
        </li>
    </ul>
    <ul class="navbar-nav" style="margin-right: -3px;">
        <li class="dropdown dropdown-list-toggle">
            <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg">
                <i class="fa fa-bars"></i>
            </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-left">
                <div class="dropdown-list-category dropdown-list-icons">
                    <a href="<%= search_page_path(:categoryname => "电子用品", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-plug fa-lg"></i>
                        </div>
                        <div class="col-md-10">电子用品</div>
                    </a>
                    <a href="<%= search_page_path(:categoryname => "家电", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-tablet fa-lg"></i> 
                        </div>
                        <div class="col-md-10">家电</div>
                    </a>
                    <a href="<%= search_page_path(:categoryname => "家具", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-couch fa-lg"></i> 
                        </div>
                        <div class="col-md-10">家具</div>
                    </a>
                    <a href="<%= search_page_path(:categoryname => "厨房", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-utensils fa-lg"></i> 
                        </div>
                        <div class="col-md-10">厨房</div>
                    </a>
                    <a href="<%= search_page_path(:categoryname => "书籍", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-book fa-lg"></i> 
                        </div>
                        <div class="col-md-10">书籍</div>
                    </a>
                    <a href="<%= search_page_path(:categoryname => "服饰", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-tshirt fa-lg"></i> 
                        </div>
                        <div class="col-md-10">服饰</div>
                    </a>
                    <a href="<%= search_page_path(:categoryname => "运动", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-volleyball-ball fa-lg"></i> 
                        </div>
                        <div class="col-md-10">运动</div>
                    </a>
                    <a href="<%= search_page_path(:categoryname => "车辆", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-car fa-lg"></i> 
                        </div>
                        <div class="col-md-10">车辆</div>
                    </a>
                    <a href="<%= search_page_path(:categoryname => "鞋类", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-shoe-prints fa-lg"></i> 
                        </div>
                        <div class="col-md-10">鞋类</div>
                    </a>
                    <a href="<%= search_page_path(:categoryname => "其他", :sortby => 3) %>" class="dropdown-item">
                        <div class="icon-left col-md-1">
                            <i class="fa fa-ellipsis-h fa-lg"></i> 
                        </div>
                        <div class="col-md-10">其他</div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <%= form_tag search_page_path, method: :get, class: "form-inline mr-auto", style: "margin-left: -2px;" do %>
        <div class="search-element">
            <%= hidden_field_tag :status, params[:user], value: "1" %>
            <%= search_field_tag :q, params[:q], class: "form-control", placeholder: "搜索", :"aria-label" => "搜索", style: "width: 20vw;", required: true %>
            <%= button_tag type: "submit", class: "btn", :name => nil do %>
                <i class="fas fa-search"></i>
            <% end %>
            <div class="search-backdrop"></div>
        </div>
    <% end %>
        <ul class="navbar-nav navbar-right">
            <li class="dropdown dropdown-list-toggle" style="margin-left: -15px;">
                <% if user_signed_in? %>
                <a href="#" id="package-notif-beep" data-toggle="modal" style="position: relative;" data-target="#deliveryModal" class="nav-link nav-link-lg message-toggle">
                    <i class="fa fa-truck"></i>
                    <span id="del-md-notif-num" class="d-lg-none badge badge-primary" style="position: absolute; top: -5px; right: 0; max-width: 10px;">
                        <center id="del-md-notif-num-text" style="position: relative; left: -2.5px; font-size: 10px;"><%= new_delivery.products.count %></center>
                    </span>
                    <!-- <span class="d-none d-lg-block">Packages</span> -->
                    <span id="del-notif-num" class="d-none d-lg-inline badge badge-primary"><%= new_delivery.products.count %></span>
                <% else %>
                <a href="<%= new_user_session_path %>" id="package-notif-beep" class="nav-link nav-link-lg message-toggle"><i class="fa fa-truck"></i> <b>物流</b>
                <% end %>
                </a>
            </li>
            <li id="msg-nav" class="dropdown dropdown-list-toggle" style="margin-left: -12px;">
                <% if user_signed_in? %>
                <a href="#" id="msg-notif-beep" data-toggle="dropdown" style="position: relative;" class="nav-link nav-link-lg message-toggle">
                    <i class="fa fa-envelope"></i>
                    <span id="msg-md-notif-num" class="d-lg-none badge badge-primary <%= current_user.message_read == false ? "beep" : "" %>" style="position: absolute; top: -5px; right: 0; max-width: 10px;">
                        <center id="msg-md-notif-num-text" style="position: relative; left: -2.5px; font-size: 10px;"><%= user_unread_rooms %></center>
                    </span>
                    <!-- <span class="d-none d-lg-block">Packages</span> -->
                    <span id="msg-notif-num" class="d-none d-lg-inline badge badge-primary <%= current_user.message_read == false ? "beep" : "" %>"><%= user_unread_rooms %></span>
                <% end %>
                </a>
                <div class="dropdown-menu dropdown-list dropdown-menu-right">
                    <div class="dropdown-header">留言
                    </div>
                    <% if user_signed_in? %>
                    <div class="dropdown-list-content dropdown-list-message" id="message" data-channel-subscribe="message">
                        <% user_rooms.limit(4).each do |room| %>
                            <%  if room.room_type == :private
                                    room.user_ids.each do |user|
                                        if current_user.id != user
                                            @anotheruser = User.find(user)
                                            @roomname = @anotheruser.first_name                                                
                                        end
                                    end
                                else
                                    @roomname = room.name
                                    @anotheruser = room.users.first
                            end %>
                            <a href="<%= room_path(room) %>" id="room-bar-<%= room.id %>" class="dropdown-item" data-room-order="">
                                <div class="dropdown-item-avatar">
                                    <%= image_tag another_user_avatar_thumb(@anotheruser), class: "rounded-circle", width: "30", alt: "image" %>
                                </div>
                                <div class="dropdown-item-desc">
                                    <b class="msg_name"><%= @roomname %></b>
                                    <% if !room_is_read(room) %>
                                        <div class="text-success text-small font-600-bold" style="float: right;">
                                            <i class="fas fa-circle"></i>
                                        </div>
                                    <% end %>
                                    <div class="msg_time time"><%= room.last_active %></div>
                                </div>
                            </a>
                        <% end %>
                    </div>
                    <div class="dropdown-footer text-center">
                        <%= link_to rooms_path do %>
                            消息 <i class="fas fa-chevron-right"></i>
                        <% end %>
                    </div>
                    <% end %>
                </div>
            </li>
            <li id="notif-nav" class="dropdown dropdown-list-toggle" style="margin-left: -12px;">
                <% if user_signed_in? %>
                <a href="#" data-toggle="dropdown" style="position: relative;" class="nav-link nav-link-lg message-toggle"><i class="fa fa-bell"></i>
                    <!-- <span class="d-none d-lg-block">Packages</span> -->
                    <span id="total-md-notif-number" class="d-lg-none badge badge-warning <%= current_user.notif_read == false ? "beep" : "" %>" style="position: absolute; top: -5px; right: 0; max-width: 10px;">
                        <center style="position: relative; left: -2.5px; font-size: 10px;"><%= user_unread_notifs %></center>
                    </span>
                    <span class="d-none d-lg-inline badge badge-warning <%= current_user.notif_read == false ? "beep" : "" %>" id="total-notif-number"><%= user_unread_notifs %></span>
                <% end %>
                </a>
                <div class="dropdown-menu dropdown-list dropdown-menu-right">
                    <div class="dropdown-header">通知
                    </div>
                    <% if user_signed_in? %>
                    <div class="dropdown-list-content dropdown-list-message" data-channel-subscribe="notification" data-user-id="<%= current_user.id %>" id="notification">
                        <% user_notifications.limit(4).each do |notification| %>
                            <% if notification.type == :comment %>
                                <% if notification.product? %>
                                    <% @link = product_path(notification.product, notification_id: notification.id) %>
                                <% else %>
                                    <% @link = root_path %>
                                <% end %>
                                <%= link_to @link, id: "notif-bar-" + notification.id, class: "dropdown-item" do %>
                                    <div class="dropdown-item-avatar">
                                        <%= image_tag another_user_avatar_thumb(notification.orderer), class: "rounded-circle", style: "width: 30px; height: 30px; object-fit: cover", alt: "image" %>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b><%= notification.name %></b>
                                        <% if notification.unread? %>
                                            <div class="text-success text-small font-600-bold" style="float: right;">
                                                <i class="fas fa-circle"></i>
                                            </div>
                                        <% end %>
                                        <div class="msg_time time"><%= notification.created_at %></div>
                                    </div>
                                <% end %>
                            <% elsif notification.type == :order %>
                                <%= link_to contact_seller_rooms_path(seller_id: notification.orderer.id, notification_id: notification.id), method: :post, id: "notif-bar-" + notification.id, class: "dropdown-item" do %>
                                    <div class="dropdown-item-avatar">
                                        <% if notification.product? %>
                                            <% if notification.product.product_images? %>
                                                <%= image_tag notification.product.product_images[0].image.url(:thumb), style: "width: 30px; height: 30px; object-fit: cover", alt: "image" %>
                                            <% else %>
                                                <%= image_tag "products/product-1-50.png", width: "30", alt: "image" %>
                                            <% end %>
                                        <% else %>
                                            <%= image_tag "products/product-1-50.png", width: "30", alt: "image" %>
                                        <% end %>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b><%= notification.name %></b>
                                        <% if notification.unread? %>
                                            <div class="text-success text-small font-600-bold" style="float: right;">
                                                <i class="fas fa-circle"></i>
                                            </div>
                                        <% end %>
                                        <div class="msg_time time"><%= notification.created_at %></div>
                                    </div>
                                <% end %>
                            <% elsif notification.type == :delivery %>
                                <%= link_to contact_seller_rooms_path(seller_id: notification.orderer.id, notification_id: notification.id), id: "notif-bar-" + notification.id, method: :post, class: "dropdown-item" do %>
                                    <div class="dropdown-item-avatar">
                                        <% if notification.product? %>
                                            <% if notification.product.product_images? %>
                                                <%= image_tag notification.product.product_images[0].image.url(:thumb), style: "width: 30px; height: 30px; object-fit: cover", alt: "image" %>
                                            <% else %>
                                                <%= image_tag "products/product-1-50.png", width: "30", alt: "image" %>
                                            <% end %>
                                        <% else %>
                                            <%= image_tag "products/product-1-50.png", width: "30", alt: "image" %>
                                        <% end %>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b><%= notification.name %></b>
                                        <% if notification.unread? %>
                                            <div class="text-success text-small font-600-bold" style="float: right;">
                                                <i class="fas fa-circle"></i>
                                            </div>
                                        <% end %>
                                        <div class="msg_time time"><%= notification.created_at %></div>
                                    </div>
                                <% end %>
                            <% end %>   
                        <% end %>
                    </div>
                    <div class="dropdown-footer text-center">
                        <%= link_to notifications_path do %>
                            通知列表 <i class="fas fa-chevron-right"></i>
                        <% end %>
                    </div>
                    <% end %>
                </div>
            </li>
            <li class="dropdown d-none d-lg-flex">
                <% if user_signed_in? %>
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <%= image_tag user_avatar_thumb, class: "rounded-circle mr-1", alt: "image" %>
                        <div class="d-none d-lg-inline-block">你好, <%= current_user.first_name %></div>
                    </a> 
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-title d-inline-block">你好, <%= current_user.first_name %></div>
                    <a href="<%= user_root_url %>" class="dropdown-item has-icon">
                        <i class="far fa-user"></i> 账户
                    </a>
                    <a href="<%= user_product_url %>" class="dropdown-item has-icon">
                        <i class="far fa-list-alt"></i> 商品列表
                    </a>
                    <a href="<%= new_product_path %>" class="dropdown-item has-icon">
                        <i class="far fa-calendar-plus"></i> 发布闲置
                    </a>
                    <a href="<%= user_delivery_url %>" class="dropdown-item has-icon">
                        <i class="fas fa-dolly"></i> 运送订单
                    </a>
                    <a href="<%= user_address_url %>" class="dropdown-item has-icon">
                        <i class="fas fa-map-marked"></i> 收货人地址
                    </a>
                    <% if current_user.role == :admin %>
                        <a href="<%= rails_admin.dashboard_path %>" class="dropdown-item has-icon">
                            <i class="fa fa-toolbox"></i> 仪表盘
                        </a>
                    <% end %>
                    <div class="dropdown-title d-inline-block">语言 | <%= I18n.locale %></div>
                    <div class="dropdown-item">
                        <%= link_to locale: :en do %>
                            <span class="flag-icon flag-icon-us"></span>
                        <% end %>
                        <%= link_to locale: "zh-CN" do %>
                            <span class="flag-icon flag-icon-cn"></span>
                        <% end %>
                    </div>
                    <div class="dropdown-divider"></div>
                    <%= link_to destroy_user_session_path, :method => :delete, :class => "dropdown-item has-icon text-danger" do %>
                        <i class="fas fa-sign-out-alt"></i>登出
                    <% end %>
                </div>
                <% else %>
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user" style="margin-left: 10px;">
                        <%= image_tag "avatar/avatar-1.png", class: "rounded-circle mr-1", alt: "image" %>
                        <div class="d-none d-lg-inline-block">你好, 登入</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title d-inline-block">你好, 登入</div>
                        <a href="<%= new_user_session_path %>" class="dropdown-item has-icon">
                            <i class="fas fa-sign-in-alt"></i> 登录
                        </a>
                        <a href="<%= new_user_registration_path %>" class="dropdown-item has-icon">
                            <i class="fas fa-file-signature"></i> 寄存器
                        </a>
                        <div class="dropdown-title d-inline-block">语言 | <%= I18n.locale %></div>
                        <div class="dropdown-item">
                            <%= link_to locale: :en do %>
                                <span class="flag-icon flag-icon-us"></span>
                            <% end %>
                            <%= link_to locale: "zh-CN" do %>
                                <span class="flag-icon flag-icon-cn"></span>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </li>
            <li class="dropdown dropdown-list-toggle d-lg-none" style="margin-left: -13px; margin-right: -20px;">
                <% if user_signed_in? %>
                    <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle">
                        <i class="fas fa-ellipsis-v"></i>
                    </a> 
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title d-inline-block">你好, <%= current_user.first_name %></div>
                        <a href="<%= root_url %>" class="dropdown-item has-icon">
                            <i class="fas fa-home"></i> 主页
                        </a>
                        <a href="<%= user_root_url %>" class="dropdown-item has-icon">
                            <i class="far fa-user"></i> 账户
                        </a>
                        <a href="<%= user_product_url %>" class="dropdown-item has-icon">
                            <i class="far fa-list-alt"></i> 商品列表
                        </a>
                        <a href="<%= user_delivery_url %>" class="dropdown-item has-icon">
                            <i class="fas fa-dolly"></i> 运送订单
                        </a>
                        <a href="<%= user_address_url %>" class="dropdown-item has-icon">
                            <i class="fas fa-map-marked"></i> 收货人地址
                        </a>
                        <% if current_user.role == :admin %>
                            <a href="<%= rails_admin.dashboard_path %>" class="dropdown-item has-icon">
                                <i class="fa fa-toolbox"></i> 仪表盘
                            </a>
                        <% end %>
                        <div class="dropdown-title d-inline-block">语言 | <%= I18n.locale %></div>
                        <div class="dropdown-item">
                            <%= link_to locale: :en do %>
                                <span class="flag-icon flag-icon-us"></span>
                            <% end %>
                            <%= link_to locale: "zh-CN" do %>
                                <span class="flag-icon flag-icon-cn"></span>
                            <% end %>
                        </div>
                        <div class="dropdown-divider"></div>
                        <%= link_to destroy_user_session_path, :method => :delete, :class => "dropdown-item has-icon text-danger" do %>
                            <i class="fas fa-sign-out-alt"></i>登出
                        <% end %>
                    </div>
                <% else %>
                    <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle" style="margin-left: 20px;">
                        <i class="fas fa-ellipsis-v"></i>
                    </a> 
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title d-inline-block">你好, 登入</div>
                        <a href="<%= new_user_session_path %>" class="dropdown-item has-icon">
                            <i class="fas fa-sign-in-alt"></i> 登录
                        </a>
                        <a href="<%= new_user_registration_path %>" class="dropdown-item has-icon">
                            <i class="fas fa-file-signature"></i> 寄存器
                        </a>
                        <div class="dropdown-title d-inline-block">语言 | <%= I18n.locale %></div>
                        <div class="dropdown-item">
                            <%= link_to locale: :en do %>
                                <span class="flag-icon flag-icon-us"></span>
                            <% end %>
                            <%= link_to locale: "zh-CN" do %>
                                <span class="flag-icon flag-icon-cn"></span>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </li>
        </ul>
</nav>

<div class="d-none" data-role="notif-template">
    <a href="" class="dropdown-item" data-role="notif-link">
        <div class="dropdown-item-desc">
            <b data-role="notif-title"></b>
            <div class="msg_time time" data-role="notif-time"></div>
        </div>
    </a>
</div>
