<div class="col-lg-3 col-md-3 col-sm-3 mx-auto" onclick="location.href='<%= product_path(product) %>';" style="width: 250px; height:100%; padding-left: 5px; padding-right: 5px;">
    <div class="card" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);">
        <% if product.status == :sold %>
            <div class="ribbon ribbon-top-left"><span>Sold Out</span></div>
        <% end %>
        <% if product.product_images.present? %>
	        <% if product.product_images[0].image.present? %>
                <%= image_tag product.product_images[0].image.url(:large), class: "card-img-top", alt: "image", style: "width: 100%; height: 250px; object-fit: cover;" %>
            <% else %>
                <%= image_tag "products/product-1-500.png", class: "card-img-top", alt: "image", style: "width: 100%; height: 250px; object-fit: cover;" %>
            <% end %>
	    <% else %>
            <%= image_tag "products/product-1-500.png", class: "card-img-top", alt: "image", style: "width: 100%; height: 250px; object-fit: cover;" %>
        <% end %>
        
        <div class="card-body" style="height: 110px;">
            <span class="card-text"><h5 class="card-title"><%= product.name %></h5></span>
            <var class="price h5 text-warning" style="position: absolute; bottom: 5px; left: 20px;">
                <% if product.price == 0 %>
                    <span class="currency">免费</span>
                <% else %> 
                    <span class="currency">&#165;</span><span class="num"><%= product.price %></span>
                <% end %>
            </var>
        </div>
    </div>
</div>
