<!DOCTYPE html>
<html>
  <head>
    <title>2Gaijin.com - Sell Your Secondhand Items</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: '2Gaijin.com' %>
    <% title 'Secondhand Items Platform for Foreigners' %>
    <%= render 'common/meta' %>

    <link rel="shortcut icon" type="image/png" href="https://storage.cloud.google.com/rails-2gaijin-storage/2gaijinico.png" >

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.css">

    <%= stylesheet_link_tag    'sub/style' %>
    <%= stylesheet_link_tag    'sub/components.min' %>
    <%= stylesheet_link_tag    'sub/custom' %>
    <%= stylesheet_link_tag    'sub/chat.min' %>

    <%= javascript_include_tag 'application', async: Rails.env.production? %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <%= render 'layouts/bootstrap_fileinput' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/themes/fas/theme.min.js"></script>

    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <%= javascript_include_tag Ckeditor.js_config_url %>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&libraries=places&callback=initMap"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <%= javascript_include_tag 'sub/rails-gmaps' %>
    <%= javascript_include_tag 'sub/jquery.lazyload' %>
    <%= javascript_include_tag 'sub/owl' %>
    <%= javascript_include_tag 'sub/custom' %>
</head>

  <body class="layout-2" >
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
        <%= render "common/navbar" %>
        <%= render "common/checkout_modal" %>
        <% if user_signed_in? %>
            <%= render "common/delivery_modal", delivery: new_delivery %>
        <% end %>
    </div>

    <%= yield %>

    <% if controller_name != "search" %>
        <%=  render "common/footer" %>
        <%=  render "common/fab_add_product" %>
    <% end %>
  </body>

</html>
