<!DOCTYPE html>
<html>
  <head>
    <title>2Gaijin.com - Sell Your Secondhand Items</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'sub/modules/fontawesome/css/all.min' %>
    <%= stylesheet_link_tag    'sub/modules/owlcarousel2/dist/assets/owl.theme.default.min' %>
    <%= stylesheet_link_tag    'sub/modules/owlcarousel2/dist/assets/owl.carousel.min' %>
    <%= stylesheet_link_tag    'sub/modules/select2/dist/css/select2.min' %>
    <%= stylesheet_link_tag    'sub/modules/bootstrap-social/bootstrap-social' %>
    <%= stylesheet_link_tag    'sub/style' %>
    <%= stylesheet_link_tag    'sub/components' %>
    <%= stylesheet_link_tag    'sub/custom' %>
    <%= stylesheet_link_tag    'sub/chat' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="layout-2" >

    <%= yield %>

    <%= javascript_include_tag 'sub/modules/popper' %>
    <%= javascript_include_tag 'sub/modules/tooltip' %>
    <%= javascript_include_tag 'sub/modules/owlcarousel2/dist/owl.carousel.min' %>
    <%= javascript_include_tag 'sub/modules/cleave-js/dist/cleave.min' %>
    <%= javascript_include_tag 'sub/modules/select2/dist/js/select2.min' %>
    <%= javascript_include_tag 'sub/modules/chart.min' %>
    <%= javascript_include_tag 'sub/custom' %>
    <%= javascript_include_tag 'sub/owl' %>
  </body>
</html>
