<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

-->

<div class="main-content" style="width: 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="menu-profile" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#edit-profile" role="tab" aria-controls="edit-profile" aria-selected="true"><h4>Edit Profile</h4></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#listed-product" role="tab" aria-controls="listed-product" aria-selected="false"><h4>Listed Products</h4></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#shipping-address" role="tab" aria-controls="shipping-address" aria-selected="false"><h4>Shipping Address</h4></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <%= render 'users/registrations/profile/main' %>
                            <%= render 'users/registrations/profile/listed_products' %>
                            <%= render 'users/registrations/profile/address' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

